:root {
    --primary-bg-color: #0D1117;
    --secondary-bg-color: #010409;
    --accent-color: #0D1117;
    --highlight-color: #212830;
    --text-color: white;
    --hover-bg-color: #3D444D;
    --border-color: #3D444D;
}
