:root {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #e1e1e1;
    --accent-color: #d3d3d3;
    --highlight-color: #b6b6b6;
    --text-color: black;
    --hover-bg-color: #b6b6b6;
    --border-color: #b6b6b6;
}