.selected {
    background-color: var(--highlight-color);
    border: 0.2vw var(--border-color) solid;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

h1, h2, h3 {
    color: var(--text-color);
}

h1 {
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
}

h2 {
    font-size: 2vw;
    margin-top: 2vw;
}

h3 {
    font-size: 1.8vw;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
    background-color: var(--secondary-bg-color);
    border-bottom: var(--border-color) 0.2vw solid;
}

header .selected {
    background-color: transparent;
    border: none;
    font-weight: 800;
}

header p {
    line-height: 0;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 700;
}

.header-title img {
    width: 3vw;
    margin-right: 1vw;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 1vw;
}

nav a {
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-size: 1vw;
}

a:hover {
    background-color: var(--hover-bg-color);
}

main {
    display: flex;
    justify-content: center;
}

main ul {
    list-style: circle;
    padding: 0;
    margin-left: 3vw;
}

main li {
    margin: 0;
    font-size: 1.2vw;
}

main p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

main a:hover {
    background-color: var(--hover-bg-color);
}

.leftmenu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20%;
    background-color: var(--accent-color);
    overflow-y: auto;
    height: 105%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-right: var(--border-color) 0.2vw solid;
}

.leftmenu a p {
    margin-left: 4vw;
    font-size: 1.2vw;
}

.leftmenu p {
    margin-left: 2vw;
    font-size: 1.3vw;
}

.leftmenu::-webkit-scrollbar {
    width: 0.3vw;
}

.leftmenu::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 0.3vw;
}

.leftmenu .selected {
    border: none;
    border-left: 0.5vw solid #1F6FEB;
    border-radius: 0.2vw 0 0 0.2vw;
}

.main {
    overflow: auto;
    overflow-x: hidden;
    padding: 2.5vw;
    width: 100%;
    height: 100%;
    padding-bottom: 3vw;
}

.main::-webkit-scrollbar {
    width: 0.3vw;
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 0.3vw;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 10%;
    background-color: var(--secondary-bg-color);
    margin: 0;
    padding: 0;
    border-top: var(--border-color) 0.2vh solid;
    font-size: 1.2vw;
    
    margin-top: 3vw;
}

.btn {
    display: inline-block;
    padding: 0.7vw 1.5vw;
    margin-top: 1.5vw;
    background-color: var(--highlight-color);
    color: #fff;
    text-decoration: none;
    border-radius: 0.6vw;
    font-size: 1.2vw;
    text-align: center;
    border: var(--border-color) 0.2vw solid;
}

.switch{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0.5vw;
  right: 1vw;
}

.switch svg{
    width: 2vw;
    height: 2vw;
    fill: var(--text-color);
}